[Language]
AppLanguage = ja-JP
GameLanguage = ja-JP

[Device]
HDMICapture = 
SerialPort = 

[CraftAccessories]
requirementJSONFolderPath = Requirements/
requirementJSONFilePath = 
enableToastNotification = true

[Screenshot]
FolderPath = Screenshots/
FileName = XC3StateDetector
DateFormat = yyyy-MM-dd HH.mm.ss
FileFormat = .jpg


