# include <Siv3D/Windows/Resource.hpp>

//////////////////////////////////////////////////////
//
//	Siv3D Engine Resources (DO NOT REMOVE)
//
//////////////////////////////////////////////////////
DefineResource(100, ICON, icon.ico)

//
//	Shaders
//
Resource(engine/shader/d3d11/sprite.vs)
Resource(engine/shader/d3d11/shape.ps)
Resource(engine/shader/d3d11/square_dot.ps)
Resource(engine/shader/d3d11/round_dot.ps)
Resource(engine/shader/d3d11/texture.ps)
Resource(engine/shader/d3d11/bitmapfont.ps)
Resource(engine/shader/d3d11/sdffont.ps)
Resource(engine/shader/d3d11/sdffont_outline.ps)
Resource(engine/shader/d3d11/sdffont_shadow.ps)
Resource(engine/shader/d3d11/sdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdffont.ps)
Resource(engine/shader/d3d11/msdffont_outline.ps)
Resource(engine/shader/d3d11/msdffont_shadow.ps)
Resource(engine/shader/d3d11/msdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdfprint.ps)
Resource(engine/shader/d3d11/fullscreen_triangle.vs)
Resource(engine/shader/d3d11/fullscreen_triangle.ps)
Resource(engine/shader/d3d11/forward3d.vs)
Resource(engine/shader/d3d11/line3d.vs)
Resource(engine/shader/d3d11/forward3d.ps)
Resource(engine/shader/d3d11/line3d.ps)
Resource(engine/shader/d3d11/copy.ps)
Resource(engine/shader/d3d11/gaussian_blur_9.ps)
Resource(engine/shader/d3d11/apply_srgb_curve.ps)
Resource(engine/shader/d3d11/sky.ps)
Resource(engine/shader/glsl/sprite.vert)
Resource(engine/shader/glsl/shape.frag)
Resource(engine/shader/glsl/square_dot.frag)
Resource(engine/shader/glsl/round_dot.frag)
Resource(engine/shader/glsl/texture.frag)
Resource(engine/shader/glsl/bitmapfont.frag)
Resource(engine/shader/glsl/sdffont.frag)
Resource(engine/shader/glsl/sdffont_outline.frag)
Resource(engine/shader/glsl/sdffont_shadow.frag)
Resource(engine/shader/glsl/sdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdffont.frag)
Resource(engine/shader/glsl/msdffont_outline.frag)
Resource(engine/shader/glsl/msdffont_shadow.frag)
Resource(engine/shader/glsl/msdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdfprint.frag)
Resource(engine/shader/glsl/fullscreen_triangle.vert)
Resource(engine/shader/glsl/fullscreen_triangle.frag)
Resource(engine/shader/glsl/forward3d.vert)
Resource(engine/shader/glsl/line3d.vert)
Resource(engine/shader/glsl/forward3d.frag)
Resource(engine/shader/glsl/line3d.frag)
Resource(engine/shader/glsl/copy.frag)
Resource(engine/shader/glsl/gaussian_blur_9.frag)
Resource(engine/shader/glsl/apply_srgb_curve.frag)
Resource(engine/shader/glsl/sky.frag)

//
//	Fonts
//
Resource(engine/font/min/siv3d-min.woff)

//
//	Box-shadow Textures
//
Resource(engine/texture/box-shadow/256.png)
Resource(engine/texture/box-shadow/128.png)
Resource(engine/texture/box-shadow/64.png)
Resource(engine/texture/box-shadow/32.png)
Resource(engine/texture/box-shadow/16.png)
Resource(engine/texture/box-shadow/8.png)

//////////////////////////////////////////////////////
//
//	Siv3D Engine Optional Resources (Can be removed if not required)
//
//////////////////////////////////////////////////////

//
//	Fonts
//
Resource(engine/font/mplus/mplus-1p-thin.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-light.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-regular.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-medium.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-bold.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-heavy.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-black.ttf.zstdcmp)
Resource(engine/font/noto-cjk/NotoSansCJK-Regular.ttc.zstdcmp)
//Resource(engine/font/noto-cjk/NotoSansJP-Regular.otf.zstdcmp)

//
//	Emoji Fonts
//
Resource(engine/font/noto-emoji/NotoColorEmoji.ttf.zstdcmp)
Resource(engine/font/noto-emoji/NotoEmoji-Regular.ttf.zstdcmp)

//
//	Icons
//
Resource(engine/font/fontawesome/fontawesome-brands.otf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-solid.otf.zstdcmp)
Resource(engine/font/materialdesignicons/materialdesignicons-webfont.ttf.zstdcmp)

//
//	Sound Font
//
Resource(engine/soundfont/GMGSx.sf2.zstdcmp)

//////////////////////////////////////////////////////
//
//	Siv3D App Resources (Your application resources here)
//
//////////////////////////////////////////////////////

Resource(images/Xenoblade3_Temp_Jp/3428.jpg)
Resource(images/Xenoblade3_Temp_Jp/3433.jpg)
Resource(images/Xenoblade3_Temp_Jp/3438.jpg)
Resource(images/Xenoblade3_Temp_Jp/3443.jpg)
Resource(images/Xenoblade3_Temp_Jp/3448.jpg)
Resource(images/Xenoblade3_Temp_Jp/3453.jpg)
Resource(images/Xenoblade3_Temp_Jp/3458.jpg)
Resource(images/Xenoblade3_Temp_Jp/3463.jpg)
Resource(images/Xenoblade3_Temp_Jp/3468.jpg)
Resource(images/Xenoblade3_Temp_Jp/3473.jpg)
Resource(images/Xenoblade3_Temp_Jp/3478.jpg)
Resource(images/Xenoblade3_Temp_Jp/3483.jpg)
Resource(images/Xenoblade3_Temp_Jp/3488.jpg)
Resource(images/Xenoblade3_Temp_Jp/3493.jpg)
Resource(images/Xenoblade3_Temp_Jp/3498.jpg)
Resource(images/Xenoblade3_Temp_Jp/3503.jpg)
Resource(images/Xenoblade3_Temp_Jp/3508.jpg)
Resource(images/Xenoblade3_Temp_Jp/3513.jpg)
Resource(images/Xenoblade3_Temp_Jp/3518.jpg)
Resource(images/Xenoblade3_Temp_Jp/3523.jpg)
Resource(images/Xenoblade3_Temp_Jp/3528.jpg)
Resource(images/Xenoblade3_Temp_Jp/3533.jpg)
Resource(images/Xenoblade3_Temp_Jp/3538.jpg)
Resource(images/Xenoblade3_Temp_Jp/3543.jpg)
Resource(images/Xenoblade3_Temp_Jp/3548.jpg)
Resource(images/Xenoblade3_Temp_Jp/3553.jpg)
Resource(images/Xenoblade3_Temp_Jp/3558.jpg)
Resource(images/Xenoblade3_Temp_Jp/3563.jpg)
Resource(images/Xenoblade3_Temp_Jp/3568.jpg)
Resource(images/Xenoblade3_Temp_Jp/3573.jpg)
Resource(images/Xenoblade3_Temp_Jp/3578.jpg)
Resource(images/Xenoblade3_Temp_Jp/3583.jpg)
Resource(images/Xenoblade3_Temp_Jp/3588.jpg)
Resource(images/Xenoblade3_Temp_Jp/3593.jpg)
Resource(images/Xenoblade3_Temp_Jp/3598.jpg)
Resource(images/Xenoblade3_Temp_Jp/3603.jpg)
Resource(images/Xenoblade3_Temp_Jp/3608.jpg)
Resource(images/Xenoblade3_Temp_Jp/3613.jpg)
Resource(images/Xenoblade3_Temp_Jp/3618.jpg)
Resource(images/Xenoblade3_Temp_Jp/3623.jpg)
Resource(images/Xenoblade3_Temp_Jp/3628.jpg)
Resource(images/Xenoblade3_Temp_Jp/3633.jpg)
Resource(images/Xenoblade3_Temp_Jp/3638.jpg)
Resource(images/Xenoblade3_Temp_Jp/3643.jpg)
Resource(images/Xenoblade3_Temp_Jp/3648.jpg)
Resource(images/Xenoblade3_Temp_Jp/3653.jpg)
Resource(images/Xenoblade3_Temp_Jp/3658.jpg)
Resource(images/Xenoblade3_Temp_Jp/3663.jpg)
Resource(images/Xenoblade3_Temp_Jp/3668.jpg)
Resource(images/Xenoblade3_Temp_Jp/3673.jpg)
Resource(images/Xenoblade3_Temp_Jp/3678.jpg)
Resource(images/Xenoblade3_Temp_Jp/3683.jpg)
Resource(images/Xenoblade3_Temp_Jp/3688.jpg)
Resource(images/Xenoblade3_Temp_Jp/3693.jpg)
Resource(images/Xenoblade3_Temp_Jp/3698.jpg)
Resource(images/Xenoblade3_Temp_Jp/3703.jpg)
Resource(images/Xenoblade3_Temp_Jp/3708.jpg)
Resource(images/Xenoblade3_Temp_Jp/3713.jpg)
Resource(images/Xenoblade3_Temp_Jp/3718.jpg)
Resource(images/Xenoblade3_Temp_Jp/3723.jpg)
Resource(images/Xenoblade3_Temp_Jp/3728.jpg)
Resource(images/Xenoblade3_Temp_Jp/3733.jpg)
Resource(images/Xenoblade3_Temp_Jp/3738.jpg)
Resource(images/Xenoblade3_Temp_Jp/3743.jpg)
Resource(images/Xenoblade3_Temp_Jp/3748.jpg)
Resource(images/Xenoblade3_Temp_Jp/3753.jpg)
Resource(images/Xenoblade3_Temp_Jp/3758.jpg)
Resource(images/Xenoblade3_Temp_Jp/3763.jpg)
Resource(images/Xenoblade3_Temp_Jp/3768.jpg)
Resource(images/Xenoblade3_Temp_Jp/3773.jpg)
Resource(images/Xenoblade3_Temp_Jp/3778.jpg)
Resource(images/Xenoblade3_Temp_Jp/3783.jpg)
Resource(images/Xenoblade3_Temp_Jp/3788.jpg)
Resource(images/Xenoblade3_Temp_Jp/3793.jpg)
Resource(images/Xenoblade3_Temp_Jp/3798.jpg)
Resource(images/Xenoblade3_Temp_Jp/3803.jpg)
Resource(images/Xenoblade3_Temp_Jp/3808.jpg)
Resource(images/Xenoblade3_Temp_Jp/3813.jpg)
Resource(images/Xenoblade3_Temp_Jp/3818.jpg)
Resource(images/Xenoblade3_Temp_Jp/3823.jpg)
Resource(images/Xenoblade3_Temp_Jp/3828.jpg)
Resource(images/Xenoblade3_Temp_Jp/3833.jpg)
Resource(images/Xenoblade3_Temp_Jp/3838.jpg)
Resource(images/Xenoblade3_Temp_Jp/3843.jpg)
Resource(images/Xenoblade3_Temp_Jp/3848.jpg)
Resource(images/Xenoblade3_Temp_Jp/3853.jpg)
Resource(images/Xenoblade3_Temp_Jp/3858.jpg)
Resource(images/Xenoblade3_Temp_Jp/3863.jpg)
Resource(images/Xenoblade3_Temp_Jp/3868.jpg)
Resource(images/Xenoblade3_Temp_Jp/3873.jpg)
Resource(images/Xenoblade3_Temp_Jp/3878.jpg)
Resource(images/Xenoblade3_Temp_Jp/3883.jpg)
Resource(images/Xenoblade3_Temp_Jp/3888.jpg)
Resource(images/Xenoblade3_Temp_Jp/3893.jpg)
Resource(images/Xenoblade3_Temp_Jp/3898.jpg)
Resource(images/Xenoblade3_Temp_Jp/3903.jpg)
Resource(images/Xenoblade3_Temp_Jp/3908.jpg)
Resource(images/Xenoblade3_Temp_Jp/3913.jpg)

Resource(images/UnknownMatterNumbers/0.jpg)
Resource(images/UnknownMatterNumbers/1.jpg)
Resource(images/UnknownMatterNumbers/2.jpg)
Resource(images/UnknownMatterNumbers/3.jpg)
Resource(images/UnknownMatterNumbers/4.jpg)
Resource(images/UnknownMatterNumbers/5.jpg)
Resource(images/UnknownMatterNumbers/6.jpg)
Resource(images/UnknownMatterNumbers/7.jpg)
Resource(images/UnknownMatterNumbers/8.jpg)
Resource(images/UnknownMatterNumbers/9.jpg)
Resource(images/UnknownMatterNumbers/null.jpg)

Resource(images/StatusType/HealingPower.jpg)
Resource(images/StatusType/HP.jpg)
Resource(images/StatusType/Agility.jpg)
Resource(images/StatusType/Attack.jpg)
Resource(images/StatusType/BlockRate.jpg)
Resource(images/StatusType/CriticalRate.jpg)
Resource(images/StatusType/Dexterity.jpg)

Resource(images/GameScenes/AccessoryMenu.jpg)
Resource(images/GameScenes/Camp.jpg)
Resource(images/GameScenes/Compare.jpg)
Resource(images/GameScenes/Field.jpg)
Resource(images/GameScenes/Title.jpg)
Resource(images/GameScenes/Undefined.jpg)
